@font-face {
  font-family: "Allura";
  src: url(/assets/fonts/Allura-Regular.otf) format("opentype");
}
.text-primary {
  color: #151f1e !important;
}

.text-secondary {
  color: #2b3d42 !important;
}

.text-tertiary {
  color: #4b5d6b !important;
}

.text-quaternary {
  color: #777c94 !important;
}

.text-quinary {
  color: #ad9ab6 !important;
}

.text-senary {
  color: #e7bacf !important;
}

.border-bottom {
  border-color: #777c94 !important;
}

.btn-quaternary {
  background-color: #777c94;
  color: #151f1e;
}
.btn-quaternary:hover {
  background-color: #5f6479;
  color: #e7bacf;
}
.btn-quaternary:disabled {
  border-color: #5f6479;
}

.btn-secondary {
  background-color: #2b3d42 !important;
  color: #ad9ab6 !important;
}
.btn-secondary:hover {
  background-color: #172023 !important;
  color: #e7bacf !important;
}

.btn-tertiary {
  background-color: #4b5d6b;
  color: #ad9ab6;
}
.btn-tertiary:hover {
  background-color: #36434d;
  color: #e7bacf;
}

.btn-outline-tertiary {
  background-color: transparent;
  color: #4b5d6b;
  border-color: #4b5d6b;
}
.btn-outline-tertiary:hover {
  border-color: #36434d;
  color: #36434d;
}

.bg-primary {
  background-color: #151f1e !important;
}

.bg-secondary {
  background-color: #2b3d42 !important;
}

.bg-tertiary {
  background-color: #4b5d6b !important;
}

.bg-quaternary {
  background-color: #777c94 !important;
}

.bg-quinary {
  background-color: #ad9ab6 !important;
}

.bg-senary {
  background-color: #e7bacf !important;
}

.custom-shape-divider-top-1701205598 {
  margin-top: -50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701205598 svg {
  transform: rotate(180deg);
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.project .custom-shape-divider-top-1701205598 .shape-fill {
  fill: #2b3d42;
}

.about-me .custom-shape-divider-top-1701205598 .shape-fill {
  fill: #777c94;
}

.shapedividers_com-8951 {
  padding-top: 60px;
  overflow: hidden;
  position: relative;
}

.shapedividers_com-8951::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 100% 47px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2001 77"><g fill="%238eca86"><path opacity=".5" d="M1993 46V24l-19-11-19 11v22l19 11 19-11zM1942 72V60l-10-5-10 5v12l10 5 10-5z"/><path opacity=".75" d="M1961 52V36l-14-8-14 8v16l14 9 14-9zM1969 69v-8l-7-4-6 4v8l6 4 7-4z"/><path opacity=".5" d="M1871 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M1903 52V36l14-8 14 8v16l-14 9-14-9zM1895 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M1855 46V24l-19-11-19 11v22l19 11 19-11zM1803 72V60l-9-5-10 5v12l10 5 9-5z"/><path opacity=".75" d="M1823 52V36l-14-8-14 8v16l14 9 14-9zM1831 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M1733 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M1765 52V36l14-8 14 8v16l-14 9-14-9zM1757 69v-8l6-4 7 4v8l-7 4-6-4z"/><path opacity=".5" d="M1717 46V24l-19-11-19 11v22l19 11 19-11zM1665 72V60l-9-5-10 5v12l10 5 9-5z"/><path opacity=".75" d="M1685 52V36l-14-8-14 8v16l14 9 14-9zM1693 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M1594 46V24l19-11 20 11v22l-20 11-19-11z"/><path opacity=".75" d="M1626 52V36l14-8 15 8v16l-15 9-14-9zM1618 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M1579 46V24l-19-11-20 11v22l20 11 19-11zM1527 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M1547 52V36l-14-8-15 8v16l15 9 14-9zM1555 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M1456 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M1488 52V36l14-8 14 8v16l-14 9-14-9zM1480 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M1441 46V24l-20-11-19 11v22l19 11 20-11zM1389 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M1408 52V36l-14-8-14 8v16l14 9 14-9zM1416 69v-8l-6-4-7 4v8l7 4 6-4z"/><path opacity=".5" d="M1318 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M1350 52V36l14-8 14 8v16l-14 9-14-9zM1342 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M1302 46V24l-19-11-19 11v22l19 11 19-11zM1251 72V60l-10-5-10 5v12l10 5 10-5z"/><path opacity=".75" d="M1270 52V36l-14-8-14 8v16l14 9 14-9zM1278 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M1180 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M1212 52V36l14-8 14 8v16l-14 9-14-9zM1204 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M1164 46V24l-19-11-19 11v22l19 11 19-11zM1112 72V60l-9-5-10 5v12l10 5 9-5z"/><path opacity=".75" d="M1132 52V36l-14-8-14 8v16l14 9 14-9zM1140 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M1041 46V24l20-11 19 11v22l-19 11-20-11z"/><path opacity=".75" d="M1074 52V36l14-8 14 8v16l-14 9-14-9zM1066 69v-8l6-4 7 4v8l-7 4-6-4z"/><path opacity=".5" d="M1026 46V24l-19-11-20 11v22l20 11 19-11zM974 72V60l-9-5-10 5v12l10 5 9-5z"/><path opacity=".75" d="M994 52V36l-14-8-14 8v16l14 9 14-9zM1002 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M903 46V24l19-11 20 11v22l-20 11-19-11z"/><path opacity=".75" d="M935 52V36l14-8 15 8v16l-15 9-14-9zM927 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M888 46V24l-20-11-19 11v22l19 11 20-11zM836 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M856 52V36l-15-8-14 8v16l14 9 15-9zM864 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M765 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M797 52V36l14-8 14 8v16l-14 9-14-9zM789 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M749 46V24l-19-11-19 11v22l19 11 19-11zM698 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M717 52V36l-14-8-14 8v16l14 9 14-9zM725 69v-8l-7-4-6 4v8l6 4 7-4z"/><path opacity=".5" d="M627 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M659 52V36l14-8 14 8v16l-14 9-14-9zM651 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M611 46V24l-19-11-19 11v22l19 11 19-11zM560 72V60l-10-5-10 5v12l10 5 10-5z"/><path opacity=".75" d="M579 52V36l-14-8-14 8v16l14 9 14-9zM587 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M489 46V24l19-11 19 11v22l-19 11-19-11z"/><path opacity=".75" d="M521 52V36l14-8 14 8v16l-14 9-14-9zM513 69v-8l7-4 6 4v8l-6 4-7-4z"/><path opacity=".5" d="M473 46V24l-19-11-19 11v22l19 11 19-11zM421 72V60l-9-5-10 5v12l10 5 9-5z"/><path opacity=".75" d="M441 52V36l-14-8-14 8v16l14 9 14-9zM449 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M350 46V24l20-11 19 11v22l-19 11-20-11z"/><path opacity=".75" d="M382 52V36l15-8 14 8v16l-14 9-15-9zM374 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M335 46V24l-19-11-20 11v22l20 11 19-11zM283 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M303 52V36l-14-8-14 8v16l14 9 14-9zM311 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M212 46V24l19-11 20 11v22l-20 11-19-11z"/><path opacity=".75" d="M244 52V36l14-8 14 8v16l-14 9-14-9zM236 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M197 46V24l-20-11-19 11v22l19 11 20-11zM145 72V60l-10-5-9 5v12l9 5 10-5z"/><path opacity=".75" d="M164 52V36l-14-8-14 8v16l14 9 14-9zM173 69v-8l-7-4-7 4v8l7 4 7-4z"/><path opacity=".5" d="M74 46V24l19-11 19 11v22L93 57 74 46z"/><path opacity=".3" d="M53 68V54l13-8 13 8v14l-13 8-13-8zM191 68V54l13-8 13 8v14l-13 8-13-8zM330 68V54l13-8 13 8v14l-13 8-13-8zM468 68V54l13-8 13 8v14l-13 8-13-8zM606 68V54l13-8 13 8v14l-13 8-13-8zM744 68V54l13-8 13 8v14l-13 8-13-8zM883 68V54l12-8 13 8v14l-13 8-12-8zM1021 68V54l13-8 13 8v14l-13 8-13-8zM1159 68V54l13-8 13 8v14l-13 8-13-8zM1297 68V54l13-8 13 8v14l-13 8-13-8zM1435 68V54l13-8 13 8v14l-13 8-13-8zM1574 68V54l13-8 12 8v14l-12 8-13-8zM1712 68V54l13-8 13 8v14l-13 8-13-8zM1850 68V54l13-8 13 8v14l-13 8-13-8z"/><path opacity=".75" d="M106 52V36l14-8 14 8v16l-14 9-14-9zM98 69v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".5" d="M58 46V24L39 13 20 24v22l19 11 19-11z"/><path opacity=".75" d="M34 69v-8l-7-4-6 4v8l6 4 7-4z"/><path d="M2001 0v15l-21 12-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-24-14-23 14-23-14-23 14-24-14-23 14-23-14-24 14-23-14-23 14-23-14-24 14L0 13V0h2001z"/><path opacity=".75" d="M12 28L0 35v19l12 7 14-9V36l-14-8z"/><path opacity=".3" d="M2001 46l-13 8v14l13 8V46z"/></g></svg>');
}

@media (min-width: 768px) {
  .shapedividers_com-8951::before {
    background-size: 100% 47px;
    background-position: 50% 0%;
  }
}
@media (min-width: 1025px) {
  .shapedividers_com-8951::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 47px;
    background-position: 50% 0%;
  }
}
@media (min-width: 2100px) {
  .shapedividers_com-8951::before {
    background-size: 100% calc(2vw + 47px);
  }
}
.custom-shape-divider-top-1701255977 {
  margin-top: -50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1701255977 svg {
  transform: scaleY(-1);
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.project .custom-shape-divider-top-1701255977 .shape-fill {
  fill: #4b5d6b;
}

.skills .custom-shape-divider-top-1701255977 .shape-fill {
  fill: #ad9ab6;
}

.about-me-header {
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.slideshow-container {
  max-width: 62.5rem;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.image {
  width: 100%;
  left: 0.5rem;
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 0.625rem;
  color: #e7bacf;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0.375rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: #4b5d6b;
}

.dot {
  cursor: pointer;
  height: 0.375rem;
  width: 0.375rem;
  margin: 0 0.125rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #e7bacf;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.text-elegant {
  font-family: "Allura";
}

body {
  background-image: linear-gradient(to top, rgba(21, 31, 30, 0.9), rgba(43, 61, 66, 0.9)), url("/assets/images/background-image.svg");
  background-size: contain;
  background-attachment: fixed;
  overflow-x: hidden;
}

.w-75 {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
}

.image-container {
  width: 30rem;
  height: 30rem;
  margin: 0 1.25rem;
}

@media (max-width: 575.98px) {
  .image {
    margin-left: 0;
  }
}
@media (min-width: 575.98px) {
  .image {
    margin-left: 1rem;
  }
}
.image {
  position: absolute;
  margin-top: 1rem;
  max-width: 12.5rem;
  width: 100%;
  height: auto;
  z-index: 2;
}

.explanation {
  max-width: 23.75rem;
}

/*.cursor {
  position: absolute;
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.036852240896358524) 4%,
    rgba(255, 255, 255, 0.022846638655462215) 23%,
    rgba(255, 255, 255, 0) 70%
  );
}*/
.header {
  padding-top: 15rem;
  padding-bottom: 16rem;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-in {
  animation: 1s ease 0.1s 1 slideInFromLeft;
}

.project {
  padding-bottom: 4rem;
  position: relative;
}

.animated-svg {
  z-index: 1;
  max-width: 30rem;
  height: auto;
  position: absolute;
}

@media (max-width: 575.98px) {
  #slider-1 {
    width: 250px;
    height: 130px;
  }
}
@media (min-width: 575.98px) {
  #slider-1 {
    width: 380px;
    height: 180px;
  }
}
.svg-1,
.svg-2 {
  stroke-width: 0.4;
  fill: none;
  stroke: transparent;
  transition: stroke 0.5s, stroke-dashoffset 0.5s;
}

.fill-transition {
  stroke-width: 0.4;
  stroke: #e7bacf;
  fill: none;
  transition: stroke 0.5s, stroke-dashoffset 0.5s;
}

.coming-soon {
  filter: blur(0.3rem);
}

.about-me {
  padding-bottom: 4rem;
  position: relative;
}

.profile-image {
  position: absolute;
  max-width: 16.5rem;
  width: 100%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.about-me-text {
  max-width: 37.5rem;
}

.skills {
  padding-bottom: 4rem;
  position: relative;
}

.skills-text {
  max-width: 44rem;
}

.skills-list {
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  row-gap: 0.8rem;
}

.skill {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 8px;
  gap: 8px;
  background-color: #2b3d42;
  color: #ad9ab6;
}

.info {
  padding: 5rem 0;
}

.eMail,
.linkedIn {
  position: relative;
  display: inline-block;
  color: #e7bacf;
}
.eMail:hover,
.linkedIn:hover {
  color: #ad9ab6;
  cursor: pointer;
}

.eMail .tooltip-text {
  visibility: hidden;
  width: 7.5rem;
  background-color: #4b5d6b;
  color: #e7bacf;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -3.75rem;
}

.linkedIn .tooltip-text {
  visibility: hidden;
  width: 15rem;
  background-color: #4b5d6b;
  color: #e7bacf;
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -7.5rem;
}

.eMail:hover .tooltip-text,
.linkedIn:hover .tooltip-text {
  visibility: visible;
}